@import 'normalize';
@import 'fonts';
@import 'colors';
@import 'mixin';

h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0em;
}

h1 {
    font-family: $font-head;
    font-size: 5rem;
}

h2 {
    font-family: $font-head;
    font-size: 4em;
}

h3 {
    font-family: $font-head;
    font-size: 2rem;
}

h4 {
    font-size: 1.875rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 1.125rem 0;
    line-height: 1.675rem;
}