@import 'default';
@import 'animate';
@import 'swiper';


* {
    box-sizing: border-box;
    font-family: $font-body;
    color: $black;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

/*Navegation*/
nav {
    width: 100%;
    height: 5rem;
    background: $white;
    position: fixed;
    z-index: 40;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    #btn-menu {
        color: $black;
        opacity: 1;

        @include breakpoint(sm) {
            display: none;
        }

    }

    .logo {
        color: $blue;
        font-size: 2rem;
        transition: .4s;
        width: 160px;

        a {
            color: inherit;
            text-decoration: none;
        }

        // &:hover {
        //     transform: rotate(20deg) scale(1.2);
        // }
    }

    .nav-items {
        display: flex;
        font-size: .8rem;
        list-style: none;

        li {
            color: rgba(1, 22, 39, 0.6);
            margin: 0 .8rem;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .submenu {
            cursor: pointer;

            ul {
                background: white;
                box-shadow: 0 0 6px rgba(1, 22, 39, 0.1);
                list-style: none;
                margin-top: 20px;
                opacity: 0;
                padding: 1rem;
                position: absolute;
                transition: .4s;
                visibility: hidden;

                li {
                    margin: 0;
                    padding: 0.4rem 0;
                }

            }

            &:hover>ul {
                opacity: 1;
                visibility: visible;
            }
        }

        @include breakpoint(xs) {
            align-items: center;
            background: $white;
            color: $black;
            flex-direction: column;
            justify-content: center;
            left: 0;
            padding: 2rem 0;
            position: absolute;
            top: -100vh;
            transition: .4s;
            width: 100%;

            li {
                color: inherit;
                font-size: .9rem;
                padding: 1rem 0;
            }

            .submenu {
                color: inherit;
                display: none;
            }

        }
    }

    .social-media {

        display: flex;
        align-items: center;

        a {
            color: rgba(1, 22, 39, 0.6);
            display: inline-block;
            margin: 0 8px;
            text-decoration: none;
            transition: .4s;

            .logo-20 {
                width: 60px;

                @include breakpoint(xs) {
                    display: none;
                }
            }

            &:hover {
                transform: scale(1.2);
            }

            &:nth-child(1):hover {
                color: #29487d;
            }

            &:nth-child(2):hover {
                color: #1da1f2;
            }
        }
    }

}

// Header

header {
    align-items: center;
    // background-image: url('../img/background-header.jpg');
    // background-image: url('../img/header-second.jpg');
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../img/header-second.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    flex-direction: column;
    height: 620px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    grid-template-rows: 10fr 10px;
    grid-template-columns: 100%;

    .wrapper-header {

        .logo-header {
            margin: auto;
            width: 28rem; // Responsive

            @include breakpoint(xs) {
                width: 20rem;
            }
        }

        .slogan-website {
            margin-top: 2rem;
            margin: auto;
            text-align: center;
            max-width: 700px;

            p {
                color: $white;
                font-size: 1rem; // Responsive
                margin: 2rem;
                opacity: 0.9;

                @include breakpoint(xs) {
                    font-size: 1.1rem;
                }
            }
        }

        .logos-sponsors {
            display: flex;
            justify-content: center;

            img {
                height: 4.2rem;
                margin: 0 1rem;
            }
        }

        .date-indicator {
            display: flex;
            justify-content: center;
            margin-top: 3.4rem;

            a {
                background: $blue-alt;
                border-radius: 2px;
                color: $white;
                font-family: $font-head;
                font-size: 1.6rem;
                font-weight: 700;
                opacity: 0.9;
                padding: 1rem 2rem;
                text-decoration: none;
                transition: .4s;
            }

            a:hover {
                box-shadow: 0 0 12px $blue;
                transform: scale(1.06);
            }
        }

        .wrapper-video {
            position: absolute;
            left: 0;
            bottom: 10px;
            justify-content: flex-end;
            width: 100%;
            display: flex;

            @include breakpoint(xs) {
                display: none;
            }
        }
    }

    .separator-header {
        width: 100%;
    }
}

/* Time Left */

.time-left {
    background-image: url('../img/backgrond-sign-up.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    padding: 6rem 10%;
    text-align: center;

    h2 {
        text-align: center;
        font-size: 2.6rem;
        color: $red;
    }

    img {
        height: 1rem;
    }

    .wrapper-time {
        margin: auto;
        display: grid;
        width: 320px;
        grid-template-columns: repeat(4, 1fr);

        .value {
            font-family: $font-head;
            font-weight: 700;
            font-size: 2.6rem;
        }

        .description {
            font-family: $font-head;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    .wrapper-btn-register {
        margin-top: 2rem;

        .btn-register {
            border: 2px solid $black;
            padding: 1rem 2rem;
            font-family: $font-head;
            font-size: 1.6rem;
            font-weight: 700;
            transition: .4s;
            text-decoration: none;


            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
}

/* About Us */

.about-us {
    background-image: url('../img/background-about-us.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-areas: 'wh wd'; // Responive
    grid-template-columns: 1fr 1fr; // Responsive
    padding: 6rem 10%;

    @include breakpoint(xs) {
        grid-template-areas: 'wh''wd';
        grid-template-columns: 1fr;
    }



    .wrapper-head {
        grid-area: wh;

        h3 {
            color: $white;

            @include breakpoint(xs) {
                text-align: center;
            }
        }

        .button-group {
            display: flex;
            margin-top: 2rem;

            @include breakpoint(xs) {
                justify-content: center;
            }

            a {
                color: $white;
                display: inline-block;
                font-family: $font-head;
                font-size: 1.4rem;
                font-weight: 700;
                padding: 1rem 2rem;
                transition: .4s;
                text-decoration: none;

                @include breakpoint(xs) {
                    font-size: 1.4rem;
                }

                &:nth-child(1) {
                    background: $red;

                    &:hover {
                        box-shadow: 0 0 12px $red;
                    }
                }

                &:nth-child(2) {
                    background: $blue-alt;
                    margin-left: 10px; // Responsive

                    &:hover {
                        box-shadow: 0 0 12px $blue;
                    }
                }
            }
        }
    }

    p {
        color: $white;
        font-size: 1rem;
        opacity: 0.9;


        @include breakpoint(xs) {
            font-size: 1.2rem;
            margin-top: 4rem;
            text-align: center;
        }
    }

    .wrapper-description {
        grid-area: wd;
    }
}

/* Speakers */

.speakers {
    padding: 6rem 0;
    width: 100%;

    h2 {
        color: $blue-alt;
        font-size: 2.6rem;
        text-align: center;
    }

    .container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: 6rem 2rem;
        grid-template-columns: repeat(3, 1fr);
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        width: 80%;

        @include breakpoint(xs) {
            grid-template-columns: 1fr;
        }

        .wrapper-speaker {
            text-align: center;
            transition: .4s;

            &:hover {
                transform: scale(1.06);
            }

            img {
                border-radius: 50%;
                box-shadow: 2px 2px 8px rgba(25, 25, 25, 0.4);
                width: 8rem;
            }

            h4 {
                font-family: $font-head;
                margin: 0;
                margin-top: 2rem;
                font-size: 1.4rem;
            }

            p {
                opacity: 0.8;
                padding: 0 5%;
            }

            .wrapper-social {
                display: flex;
                font-size: 1.2rem;
                justify-content: space-around;
                margin: auto;
                width: 100px;

                .btn-curriculum {
                    border: 2px solid $black;
                    color: $black;
                    font-size: 0.8rem;
                    font-weight: 700;
                    opacity: 1;
                    padding: .6rem 1rem;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: $white;
                        background: $black;
                    }
                }


                a {
                    opacity: 0.6;
                    transition: .4s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }

    }

    .wrapper-btn-spakers {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        .btn-more-speakers {
            border: 2px solid $black;
            font-family: $font-head;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 1rem 2rem;
            text-decoration: none;
            transition: .4s;

            &:hover {
                background: $blue-alt;
                border-color: $blue-alt;
                box-shadow: 0px 0px 12px rgba(25, 25, 25, 0.4);
                color: $white;
                transform: scale(1.06);
            }
        }
    }
}

/* Venues */

.wrapper-venues {
    background: $black;
    padding-top: 6rem;
    padding: 4rem 0;
    width: 100%;

    h2 {
        color: $blue;
        font-size: 2.6rem;
        text-align: center;
    }

    img {
        height: 1rem;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }

    p {
        color: $white;
        padding: 0 10%;
        text-align: center;
    }

    .slider-venues {
        height: 540px;
        margin-top: 6rem;
        width: 100%;

        .swiper-slide {
            .wrapper-slide {
                background-position: center;
                background-size: cover;
                height: 80%;
                width: 100%;

                .wrapper-description {
                    align-items: center;
                    background: rgba(255, 40, 90, 0.9);
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    opacity: 0;
                    transition: .4s;
                    width: 100%;

                    &:hover {
                        opacity: 1;
                    }

                    h3 {
                        color: $white;
                    }

                    a {
                        border-radius: 2px;
                        border: 2px solid $white;
                        color: $white;
                        font-family: $font-head;
                        font-size: 1.6rem;
                        font-weight: 700;
                        margin-top: 4rem;
                        opacity: 0.9;
                        padding: 1rem 2rem;
                        text-decoration: none;
                        transition: .4s;

                        &:hover {
                            background: $white;
                            color: $red;
                            transform: scale(1.06);
                        }
                    }
                }
            }
        }
    }
}

/* Sponsors */

.sponsors {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 10%;

    h2 {
        color: $red;
        font-size: 2.6rem;
        text-align: center;
    }

    img {
        height: 1.3rem;
        left: 50%;
    }

    .grid-sponsors {
        display: grid;
        grid-auto-rows: 260px;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        @include breakpoint(xs) {
            grid-auto-rows: 260px;
            grid-template-columns: repeat(2, 1fr);
        }

        .wrapper-img {
            align-items: center;
            display: flex;
            justify-content: center;

            .sponsor-logo {
                transform: scale(6);
            }
        }
    }
}

/* Sentence */

.sentence {
    width: 100%;
    padding: 6rem 10%;
    background-image: url('../img/background-slogan.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;

    h2 {
        color: $white;
    }

    p {
        color: $white;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .date-indicator {
        display: flex;
        justify-content: center;
        margin-top: 3.4rem;

        a {
            background: $blue-alt;
            border-radius: 2px;
            color: $white;
            font-family: $font-head;
            font-size: 1.6rem;
            font-weight: 700;
            opacity: 0.9;
            padding: 1rem 2rem;
            text-decoration: none;
            transition: .4s;
        }

        a:hover {
            box-shadow: 0 0 12px $blue;
            transform: scale(1.06);
        }
    }

}

/* Programs */

.programs {
    width: 100%;
    padding: 6rem 10%;

    h2 {
        text-align: center;
        font-size: 2.6rem;
        color: $blue;
    }

    h3 {
        text-align: center;
    }

    .weekend-program-title {
        margin-top: 6rem;
    }

    .slide-programs {
        margin-top: 4rem;
        width: 100%;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 3em;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            p {
                text-align: center;
            }
        }
    }

    .wrapper-workshops {
        width: 100%;
        padding: 10% 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(xs) {
            grid-template-columns: 1fr;
        }

        a {
            text-decoration: none;
            display: block;
            border: 1px solid transparent;
            transition: .4s;
            color: $black;

            &:hover {
                color: $white;
            }

            div {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background: transparent;
                color: $white;
                padding: 2rem 10px;
                border-radius: 2px;
                color: inherit;
                border: 1px solid transparent;
                transition: .4s;
                cursor: pointer;

                h3 {
                    margin: 0;
                    color: inherit;
                }

                h4 {
                    margin: 1rem 0;
                    color: inherit;
                    opacity: 0.8;
                    font-size: 1rem;
                }

                .cargo {
                    margin: 0;
                    font-size: 0.9rem;
                    color: inherit;
                    font-weight: 400;
                }

                .time {
                    margin: 1rem 0;
                    display: block;
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: inherit;
                    border: none;
                }
            }


            &:nth-child(3n+1) {

                border-color: $blue;

                &:hover {
                    background: $blue;
                }
            }

            &:nth-child(3n+2) {

                border-color: $red;

                &:hover {
                    background: $red;
                }
            }

            &:nth-child(3n+3) {

                border-color: $black;

                &:hover {
                    background: $black;
                }
            }
        }
    }
}

// Contact Us

.contact-us-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background-contact-us.jpg');
    background-position: center;
    background-size: cover;
}

.contact-us {
    width: 100%;
    height: 520px;

    .google-maps-background {
        width: 100%;
        height: 520px;
        border: none;
    }

}

// Footer

footer {
    overflow: hidden;
    width: 100%;
    height: 80px;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        opacity: 0.8;
        color: $white;
        text-align: center;
        font-size: 0.9rem;
    }
}