<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Congreso Internacional de Ingenierias
        link(rel="stylesheet", href="./assets/css/index.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    body 

        //- Venues
        section.wrapper-venues
            h2 Congreso 2017
            img(src="./assets/svg/separator-white.svg", alt="separator")
            //- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis unde impedit quibusdam consequuntur soluta doloremque doloribus recusandae animi beatae.
            .swiper-container.slider-venues
                .swiper-wrapper
                    //- .swiper-slide
                    //-     .wrapper-slide(style="background-image: url('./assets/img/photos/venues/room-venue.jpg')")
                    //-         .wrapper-description
                    //-             h3.title-venue Venue Name
                    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, beatae!
                    //-             a(href="#") Adress
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/1.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/2.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/3.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/4.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/5.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/6.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/7.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/8.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/9.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/10.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/11.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/12.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/13.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/14.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2017/15.jpg')")
                .swiper-pagination.pagination-venue

        
        //- Venues
        section.wrapper-venues
            h2 Congreso 2016
            img(src="./assets/svg/separator-white.svg", alt="separator")
            //- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis unde impedit quibusdam consequuntur soluta doloremque doloribus recusandae animi beatae.
            .swiper-container.slider-venues
                .swiper-wrapper
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/1.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/2.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/3.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/4.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/5.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/6.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/7.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/8.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/9.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/11.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/12.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/13.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/14.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/15.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/16.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2016/17.jpg')")
                .swiper-pagination.pagination-venue

        //- Venues
        section.wrapper-venues
            h2 Congreso 2015
            img(src="./assets/svg/separator-white.svg", alt="separator")
            //- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis unde impedit quibusdam consequuntur soluta doloremque doloribus recusandae animi beatae.
            .swiper-container.slider-venues
                .swiper-wrapper
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/1.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/2.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/3.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/4.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/5.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/6.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/7.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/8.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/9.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/10.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/11.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/12.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/13.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/14.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2015/15.jpg')")
                .swiper-pagination.pagination-venue

        //- Venues
        section.wrapper-venues
            h2 Congreso 2014
            img(src="./assets/svg/separator-white.svg", alt="separator")
            //- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis unde impedit quibusdam consequuntur soluta doloremque doloribus recusandae animi beatae.
            .swiper-container.slider-venues
                .swiper-wrapper
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/1.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/2.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/3.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/4.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/5.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/6.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/7.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/8.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/9.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/10.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/11.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/12.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/13.jpg')")
                    .swiper-slide
                        .wrapper-slide(style="background-image: url('./assets/img/photos/editions/2014/14.jpg')")    
                .swiper-pagination.pagination-venue

        //- Footer
        footer.footer
            p This website was developed by Fernández Rodríguez Luis Noel | Vázquez Aquino Maria Areli | Ing. José Luis Fernández | Information and Communications Technology Engineering Department | TicsMisantla | © Copyright All Rigth Reserved, 2018. 
            
        script(src="./assets/js/scroll-nav.js")
        script(src="./assets/js/swiper.min.js")
        script(src="./assets/js/slider-venue.js")
        script(src="./assets/js/slider-programs.js")
        script(src="./assets/js/slider-weekend.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="./assets/js/scroll.js")
        script(src="./assets/js/timer.js")
        