<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Congreso Internacional de Ingenierias
        link(rel="stylesheet", href="./assets/css/index.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    body
    
        //- Navbar
        //- FIXME: Corregir el menu de navegación para dispositivos móviles
        nav
            #btn-menu #[span.fas.fa-bars]
            .logo
                a(href="#")
                    img(src="./assets/svg/logo-nav-dark.svg", alt="logo")
            ul.nav-items#mobile-menu
                li #[a.homeScroll(href="index.html") Home]
                li #[a.speakersScroll(href="#") Speakers]
                li #[a.programScroll(href="#") Program]  
                li.submenu Parallel Events
                    ul
                        li #[a.workshops-link(href="#") Workshops]
                        li #[a(href="http://msc.itsm.edu.mx/sacs/index.html", target="_blamck", rel="noopener noreferrer") Symposium] 
                        li #[a(href="./assets/files/carteles-investigacion.pdf",  target="_blank", rel="noopener noreferrer") Posters]
                        li #[a(href="./assets/files/carteles-ponencia.pdf", target="_blank", rel="noopener noreferrer") Oral Presentations MSC] 
                        li #[a(href="./assets/files/carteles-mii.pdf", target="_blank", rel="noopener noreferrer") Oral Presentations MII] 
                li #[a.contactScroll(href="#") Contact]
                li #[a(href="gallery.html", target="_blank", rel="noopener noreferrer") Past Editions]
            .social-media
                a(href="http://itsm.edu.mx/", target="_blank", rel="noopener noreferrer")
                    img.logo-20(src="./assets/img/25-ages.jpg", alt="20 años")
                a(href="https://www.facebook.com/tecnologico.misantla", target="_blank", rel="noopener noreferrer") #[span.fab.fa-facebook-f]
                a(href="https://www.youtube.com/channel/UCimuz9c4PjbBXCHLUhKiGJA", target="_blank", rel="noopener noreferrer") #[span.fab.fa-youtube]

        //- Header 
        header
            .wrapper-header.animate.bounceIn
                .logo-header
                    img(src="./assets/svg/logo-head.svg", alt="Background Header")
                .slogan-website
                    p "Connecting Education to Industry"
                .date-indicator
                    a(href="#") November 8-10th, 2018
                .wrapper-video
                    iframe(width="300" height="200" src="https://www.youtube.com/embed/ijzSdJZrd9o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            //- img.separator-header(src="./assets/svg/separator-section.svg", alt="separador", srcset="")

        //- Time Left
        section.time-left
            h2 4th International Engineering Congress
            img(src="./assets/svg/separator-black.svg", alt="sepador")
            .wrapper-time
                .box-days
                    p.value#value-days
                    p.description Days
                .box-hours
                    p.value#value-hours
                    p.description Hours
                .box-minutes
                    p.value#value-minutes
                    p.description Minutes
                .box-minutes
                    p.value#value-seconds
                    p.description Seconds
            .wrapper-btn-register
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSfdCJgJRhyPi_HEMNL25EXSBqD7UlOX2MhD2JYQwwHT8yug6Q/viewform").btn-register Register Now

        //- About Us
        section.about-us
            .wrapper-head
                h3 Technology, Science and Engineering
                .button-group
                    a.btn-video(href="https://youtu.be/ijzSdJZrd9o", target="_blank") Promo Video
                    a.btn-gallery(href="./gallery.html", target="_blank") Gallery
            .wrapper-description
                p Intelligent Communications. Big data. Additive Manufacturing. Information Technology. Simulation. Internet of Things. Industrial Biotechnology. Business. Entrepreneurship. Artificial Intelligence. Robotics. Cloud Computing. Construction Materials. Energy. Metrology. Supply Chain Planning.

        //- Speakers
        section.speakers
            h2 Speakers
            .container
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/speaker_gaytan.png", alt="Photo Speaker")
                    h4.head-speaker Dr. José Alberto Gaytán García
                    p.short-description #[strong "The Five Industrial Revolution and Mexico?"]
                        span #[br] Director del ITSM
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/yesica.jpg", alt="Photo Speaker")
                    h4.head-speaker Dra. Yesica Imelda Saavedra
                    p.short-description #[strong "Importancia de Estudiar un Posgrado"] #[br]Secretaria Académica del Tecnológico Nacional de México]
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/ruben.png", alt="Photo Speaker")
                    h4.head-speaker Dr. Rubén Posada Gómez
                    p.short-description #[strong "La Innovación en la Ingeniería"] #[br]Director de Investigación y Posgrado del TecNM
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract 
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/jorge_torres.jpg", alt="Photo Speaker")
                    h4.head-speaker Dr. Jorge Torres
                    p.short-descriptionLA #[strong "La Metrología en la Cuarta Revolución Industrial"] 
                        span #[br]Director del Centro Nacional de Metrología
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/jose_miguel.jpg", alt="Photo Speaker")
                    h4.head-speaker Dr. José Miguel Montoya Rodríguez
                    p.short-description Coordinador de Ingeniería Portuaria y Sistemas Geoespaciales del Instituto Mexicano del Transporte (IMT)
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/andres.png", alt="Photo Speaker")
                    h4.head-speaker Andrés Chitiva Espinosa
                    p.short-description #[strong "Se parte del Proceso y no del Resultado"] #[br] Ex - Futbolista Profesional Colombiano
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/israel.jpg", alt="Photo Speaker")
                    h4.head-speaker Dr. Israel Reyes Gómez
                    p.short-description #[strong "Economía del Conocimiento"] #[br] Universidad de Harvard 
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
                .wrapper-speaker
                    img.photo-speaker(src="./assets/img/speakers/ivan_carrillo.jpg", alt="Photo Speaker")
                    h4.head-speaker Iván Carrillo
                    p.short-description #[strong "Creatividad y Storytelling para la Innovación"] #[br]History Channel
                    .wrapper-social
                        a.btn-curriculum(href="#") Abstract
               
        //- Sponsors
        section.sponsors
            h2 Participating Institutions
            img(src="./assets/svg/separator-black.svg", alt="Separador")
            .grid-sponsors
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/tec-misantla-gray.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/tec-mexico-gray.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/cenam.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/harvard.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/imt.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/unam.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/history.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/pachuca.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/politecnico.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/guadalajara.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/veracruz.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/panamericano.jpg", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/picardie.jpg", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/autonoma.jpg", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/martinez.png", alt="Logo Sponsor")
                div.wrapper-img
                    img.sponsor-logo(src="./assets/img/molina.png", alt="Logo Sponsor")
                
        //- Sentence
        section.sentence.programs-general
            h2 General Program
            //- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ad saepe nisi facilis, dolorum, at ab?
            .date-indicator
                    a(href="./assets/files/programa-general.pdf" download="congreso-2018.pdf") Download
  
        //- Programs and Workshops
        //- The person who is reviewing the code. If you are offended because your career is not in the top positions, they are alphabetically ordered
        section.programs
            //- h2 Programs
            //- Agregar un nuevo slide para workshops y linkearlo a la naveegacion
            //- h3 School system
            .swiper-container.slide-programs
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/tics.png", alt="tics")
                        p Information and Communications Technology Engineering
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/petroleum.png", alt="petroleum")
                        p Petroleum Engineering
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/environmental.png", alt="tics")
                        p Enviromental Engineering
                    .swiper-slide
                        //- FIXME: ELIMINAR
                        a(href="#", target="_blank", rel="noopener noreferrer")
                            img(src="./assets/img/careers/management.png", alt="management")
                        p Business Management Engineering
                        //- a.btn-download-program(href="#" download="#") Download program
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/chemistry.png", alt="chemistry")
                        p Biochemistry Engineering
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/civil.png", alt="civil")
                        p Civil Engineering
                    .swiper-slide
                        a(href="./assets/files/talleres/electro.pdf", target="_blank", rel="noopener noreferrer")
                            img(src="./assets/img/careers/electromechanical.png", alt="electromechanical")
                        p Electromechanical Engineering
                        a.btn-download-program(href="./assets/files/talleres/electro.pdf" download="electro.pdf") Download program
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/systems.png", alt="systems")
                        p Compute Systems Engineering
                    .swiper-slide
                        a(href="#")
                            img(src="./assets/img/careers/industry.png", alt="industry")
                        p Industrial Engineering
                .swiper-pagination.pagination-programs
            h3.weekend-program-title Weekend Program
            .swiper-container.slide-programs.slider-weekend
                .swiper-wrapper
                    .swiper-slide
                        a(href="./assets/files/talleres/ige.pdf", target="_blank", rel="noopener noreferrer")
                            img(src="./assets/img/careers/management.png", alt="management")
                        p Business Management Engineering
                        a.btn-download-program(href="./assets/files/talleres/ige.pdf" download="ige.pdf") Download program
                    .swiper-slide
                        a(href="./assets/files/talleres/isc_abierto.pdf", target="_blank", rel="noopener noreferrer")
                            img(src="./assets/img/careers/systems.png", alt="systems")
                        p Compute Systems Engineering
                        a.btn-download-program(href="./assets/files/talleres/isc_abierto.pdf" download="isc_abierto.pdf") Download program
                    .swiper-slide
                        a(href="./assets/files/talleres/industrial_abierto.pdf", target="_blank", rel="noopener noreferrer")
                            img(src="./assets/img/careers/industry.png", alt="industry")
                        p Industrial Engineering
                        a.btn-download-program(href="./assets/files/talleres/industrial_abierto.pdf" download="isc_abierto.pdf") Download program
                .swiper-pagination.pagination-programs
            h3.title-workshops Workshops
                .wrapper-workshops
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Educación Integral
                            h4 Dr. Genaro Carbajal Aguilar
                            p.cargo Instituto Politécnico Nacional
                            p.time 27 de Noviembre (12hrs) #[br] Sabado 9:00-14:00 y 16:00-19:00 #[br] Domingo 9:00 – 13:00

                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Redacción de Artículos Científicos
                            h4 Dr. José Jesús Ibarra Montalvo
                            p.cargo Doctorado en Ciencias de los Materiales, con especialidad en Tribología
                            p.time 8 de Noviembre (6hrs) #[br] Jueves 16:00-19:00 #[br] Viernes 16:00-19:00
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Por confirmar
                            h4 Dr. José Miguel Montoya Rodríguez
                            p.cargo Instituto Mexicano del Transporte
                            p.time Fecha pendiente #[br] Horarios pendientes
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Por confirmar
                            h4 Dra. Dora Luz Ávila Arzani
                            p.cargo Instituto Mexicano del Transporte
                            p.time Fecha pendiente #[br] Horarios pendientes
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Financiamiento de Proyectos
                            h4 Mtro. Ángel David Cortes Pérez
                            p.cargo Instituto Tecnológico de Veracruz
                            p.time 7 de Noviembre (16hrs) #[br] Miércoles Matutino 8hrs #[br] Jueves Vespertino 4hrs #[br] Viernes Vespertino 4hrs
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Metrología
                            h4 Dr. Jorge Torres Guzmán
                            p.cargo Centro Nacional de Metrología London Imperial College
                            p.time 8 de Noviembre (8hrs) #[br] Jueves 16:00-20:00 #[br] Viernes 16:00-20:00
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Audición Robótica
                            h4 Dr. Caleb Rascon Estebane
                            p.cargo Universidad Autónoma de México
                            p.time Miércoles 7 de noviembre 2018 #[br] Vespertino
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Reconocimiento de Patrones
                            h4 Dra. María Victoria Carreras Cruz
                            p.cargo Universidad Panamericana
                            p.time Miércoles 7 de noviembre 2018 #[br] Vespertino
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Por confirmar
                            h4 Dr. David Lara Alabazares
                            p.cargo Universidad de Picardie Jules Verne, Francia
                            p.time Fecha pendiente #[br] Horarios pendientes
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Visoría
                            h4 Andrés Chitiva Espinosa
                            p.cargo Jugador Profesional
                            p.time Viernes 9 de Noviembre #[br] A partir de las 16hrs
                    a(href="#", target="_blank", rel="noopener noreferrer")
                        div
                            h3 Manufactura en impresión 3D
                            h4 Mtro. Felipe Vega Martínez
                            p.cargo Maestro en Sistemas de Manufactura - Universidad Autónoma de Guadalajara
                            p.time Fecha pendiente #[br] Horarios pendientes

        //- Contact Us

        //- Sentence
        section.sentence.programs-general.contact-us-section
            //- background-contact-us.jpg
            h2 Contact Us
            p  Phone Number: 01 (235) 323 1545 #[br] E-mail: congresointernacional@itsm.edu.mx #[br] Address: Km. 1.8 Carretera a Loma del Cojolite C.P. 93821 Misantla, Veracruz, México.

        section.contact-us
            iframe.google-maps-background(src="https://snazzymaps.com/embed/98516")

        //- Footer
        footer.footer
            p This website was developed by Fernández Rodríguez Luis Noel | Vázquez Aquino Maria Areli | Ing. José Luis Fernández | Information and Communications Technology Engineering Department | TicsMisantla | © Copyright All Rigth Reserved, 2018. 
            
        //- script(src="./assets/js/scroll-nav.js")
        script(src="./assets/js/mobile-navbar.js")
        script(src="./assets/js/swiper.min.js")
        script(src="./assets/js/slider-venue.js")
        script(src="./assets/js/slider-programs.js")
        script(src="./assets/js/slider-weekend.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="./assets/js/scroll.js")
        script(src="./assets/js/timer.js")
        script(src="./assets/js/swiper.min.js")
        script(src="./assets/js/header-slider.js")