@font-face {
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 700;
    src: local('BebasNeue Bold'), local('BebasNeue-Bold'), url('../fonts/BebasNeue-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    src: local('BebasNeue Regular'), local('BebasNeue-Regular'), url('../fonts/BebasNeue-Regular.woff2') format('woff2');
}